<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/view/dashboard.css') }}">
</head>
<body>
<h1>Hello {{ name }}</h1>
<div class="quick-links">
    <a href="/logout">Logout</a>
    <a href="/create-note">New Note</a>
</div>

<div class="notes-list">
    <span>{{ text }}</span>
    {% if notes %}
        {% for note in notes %}
            <div class="note">
                <a href="/note/{{ note.id }}">{{ note.title }}</a>
                <hr>
                <p>{{ note.body }}</p>
            </div>
        {% endfor %}
    {% endif %}

</div>
</body>
</html>