<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form/sign.css') }}">
</head>
<body>
<div class="parent">
    <h1>Sign into your account</h1>
    <form method="post" action="login_user">
        <div class="email form">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="Email address">

        </div>
        <div class="password form">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="Password">
        </div>

        <input type="submit" value="Login">
    </form>
        {% if error %}
        <p> {{ error }}</p>
    {% endif %}

    <a href="/signup">Signup</a>
</div>

</body>
</html>