<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form/note.css') }}">
</head>
<body>
<div class="parent">
    <form method="{{ method }}" action="/note">
        <h1>{{ title }}</h1>
        <div class="title form">
            <label for="title">Title</label>
            <input id="title" type="text" name="title" placeholder="Subject">

        </div>
        <div class="body form">
            <label for="body">Body</label>
            <textarea id="body" rows="10" name="body" required placeholder="Message"></textarea>
        </div>

        <input type="submit" value="Save">

    </form>

</div>

</body>
</html>