<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form/note.css') }}">
</head>
<body>
<div class="parent">
    <div class="quick-links">
        <a href="/dashboard">Dashboard</a>
        <a class="alert" href="/logout" class="alert">Logout</a>
    </div>

    {% if note %}
        <form method="post" action="/note/{{ note.id }}/update">
            <h1>Update Note</h1>

            <div class="title form">
                <label for="title">Title</label>
                <input id="title" required type="text" name="title" value="{{ note.title }}" placeholder="{{ note.title }}">

            </div>
            <div class="body form">
                <label for="body">Body</label>
                <textarea id="body" rows="10" name="body" required>
                {{ note.body }}
                </textarea>
            </div>

            <input type="submit" value="Update">
        </form>

    {% else %}

        <form method="post" action="/note">
            <h1>Create a new Note</h1>

            <div class="title form">
                <label for="title">Title</label>
                <input id="title" type="text" name="title" placeholder="Subject" required>

            </div>
            <div class="body form">
                <label for="body">Body</label>
                <textarea id="body" rows="10" name="body" required placeholder="Message"></textarea>
            </div>

            <input type="submit" value="Save">

        </form>

    {% endif %}

</div>

</body>
</html>