<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form/sign.css') }}">
</head>
<body>
<div class="parent">
    <h1>Create a new account</h1>
    <form method="post" action="/create_user">
        <div class="username form">
            <label for="username">Username</label>
            <input required id="username" type="text" name="username" placeholder="Email address">
        </div>
        <div class="email form">
            <label for="email">Email</label>
            <input required id="email" type="email" name="email" placeholder="Email address">

        </div>
        <div class="password form">
            <label for="password">Password</label>
            <input required id="password" type="password" name="password" placeholder="Password">
        </div>

        <input type="submit" value="Submit">
    </form>
    {% if error %}
        <p> {{ error }}</p>
    {% endif %}
    <a href="/login">Login</a>
</div>
</body>
</html>