* {
  box-sizing: border-box;
}

body {
  /*background-color: blue;*/
  padding: 0;
  margin: 0;
}

.quick-links {
  width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    background: darkslateblue;
    color: white;
    padding: 8px;
    border-radius: 8px;
  }

}

.notes-list {
  display: flex;
  margin: 20px auto auto;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: auto;
  background-color: darkseagreen;

  span {
    margin: 10px auto;
  }
}

.note {
  margin-bottom: 20px;
  background-color: antiquewhite;
  width: 100%;
  border-radius: 20px;
  padding: 10px;

  a {
    text-decoration: none;
    color: teal;
    border-radius: 8px;
  }

  p {
    width: 100%;
  }
}
