* {
  box-sizing: border-box;
}

body {
  /*background-color: blue;*/
}

a{
  text-decoration: none;
  background: darkslateblue;
  color: white;
  padding: 8px;
  border-radius: 8px;
}
.notes-list {
  display: flex;
  margin: 20px auto auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: auto;
}

.note {
  margin-bottom: 20px;
  background-color: antiquewhite;
  width: 79%;

  h3 {
    font-style: italic;
    align-self: center;
    color: aliceblue;
  }

  p {
    width: 100%;
  }
}
