* {
  box-sizing: border-box;
}

html, body {
  margin: auto;
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  width: auto;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.parent {
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

#name {
  color: fuchsia;
}

.quick-links {
  width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    background: darkslateblue;
    color: white;
    padding: 8px;
    border-radius: 8px;
  }

}

.notes-list {
  display: flex;
  margin: 20px auto;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: auto;
  background-color: darkseagreen;

  span {
    margin: 10px auto;
  }
}

.note {
  margin-bottom: 20px;
  background-color: antiquewhite;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  height: 200px;

  a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    color: teal;
    text-align: center;
  }

  span {
    width: inherit;
    align-self: center;
  }

  #desc {
    text-align: start;
    width: 100%;
    display: block;
    justify-content: start;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: cursive;

  }
  .title{
    background-color: white;
    border-radius: 10px;
    color: teal;
  }

}
