* {
  box-sizing: border-box;
}

html, body {
  margin: auto;
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  width: auto;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.parent {
  margin: auto;
  align-self: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
}

a {
  text-decoration: none;
  padding: 10px;
  color: white;
  border-radius: 5%;
  background: teal;
}

.quick-links {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.note {
  width: 90%;
  margin: 20px auto;

  h3 {
    text-align: center;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    font-family: cursive;
  }
}

.note-links {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.alert {
  background-color: sienna;
}