* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.parent {
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
  padding: 10px;
  color: white;
  border-radius: 5%;
  background: teal;
}
.quick-links {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.note{
  width: 90%;
  margin: 20px auto;
  h3{
    text-align: center;
  }
  p{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    font-family: cursive;
  }
}

.note-links {
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.alert{
    background-color: sienna;
  }